@media screen and (max-width: 900px){
    header .menu-desktop, header .btn-contato{
        display: none;
    }

    header .btn-menu-mob{
        display: block;
    }

    /* Estilo do hero */

    .hero-site .txt-hero h1{
        font-size: 2.5em;
        line-height: 45px;
    }

    .hero-site .txt-hero p{
        max-width: 450px;
        font-size: 14px;
    }

    .hero-site .txt-hero p span{
        display: inline;
    }

    .hero-site button{
        font-size: 18px;
    }
    
    /* Responsivo das vantagens */
    .vantagens .itens-container{
        flex-direction: column;
        margin: auto;
        width: 80%;
    }

    .vantagens .itens-container .img-itens img{
        width: 100%;
    }

    .vantagens .itens-container .txt-itens h3{
        margin-top: 20px;
    }

    .vantagens .itens-container .txt-itens p{
        margin-bottom: 20px;
    }

    .vantagens .itens-container .item-1{
        order: 1;
    }

    
    .vantagens .itens-container .item-2{
        order: 0;
    }

    /* Estilo dos botões de contato */
    .txt-contato, .icons-contato{
        display: block;
        margin: 0 auto;
        width: 60%;
    }

    .contato .txt-contato h3{
        font-size: 2em;
        line-height: 40px;
    }

    .contato .txt-contato p{
        margin-bottom: 20px;
    }

    .contato .icons-contato button{
        width: 100%;
    }

    /* Estilo da sessão hoteis */
    .hoteis h3{
        font-size: 2.3em;
        line-height: 40px;
    }

    .hoteis p{
        font-size: 17px;    
    }

    /* Estilo da sesssão como funciona */
    .txt-funciona, .instrucoes{
        display: block;
        margin: 0 auto;
        width: 70%;
    }

    .como-funciona .txt-funciona{
        position: static;
    }

    .como-funciona .txt-funciona h3{
        font-size: 3em;
        line-height: 50px;
    }

    .instrucoes .instru-box{
        flex-direction: column;
        text-align: center;
    }

    .instrucoes .instru-box img{
        max-width: 100px;
    }

    /* Estilo do Footer */
    
    footer .middle-footer a{
        display: block;
        margin: 15px 0;
    }

    footer .bottom-footer p{
        font-size: 14px;
    }
}

@media screen and (max-width: 780px){
    /* Responsivo das vantagens */
    .vantagens .itens-container{
        width: 100%;
    }

    /* Estilo dos botões de contato */
    .txt-contato, .icons-contato{
        width: 100%;
    }

    /* Estilo da sesssão como funciona */
    .txt-funciona, .instrucoes{
        width: 100%;
    }
}
